/* Global styles */
*, *:after, *:before {
    box-sizing: border-box;
}

.menu {
    clear: both;
    background-color: #343a40;
}

.menu a {
    color: white;
}

.content {
    background-color: white;
}

.content-menu {
    float: right;
}

.todo-list {
    float: left;
}

footer {
    clear: both;
    text-align: center;
    color: white;
    background-color: #343a40;
}