<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<div class="menu" th:if="!${loggedIn}">
    <a th:href="@{/login}">Zaloguj się</a>
    <a th:href="@{/register}">Zarejestruj się</a>
</div>
<div class="menu" th:if="${loggedIn}">
    <a th:href="@{/logout}">Wyloguj</a>
</div>
<div class="content" th:if="${loggedIn}">
    <div class="errors" th:if="${errorMessage!=null}">
        <a th:text="${errorMessage}"/>
    </div>
    <div class="todo-list-and-filter">
        <div class="todo-list">
            <h1>Twoje zadania</h1>
            <table>
                <thead>
                <tr>
                    <td><a th:text="'Nazwa'" th:href="@{/sortByName}"/></td>
                    <td><a th:text="'Opis'" th:href="@{/sortByDescription}"/></td>
                    <td><a th:text="'Deadline'" th:href="@{/sortByDeadline}"/></td>
                    <td><a th:text="'Czy wykonane'" th:href="@{/sortByIsFinished}"/></td>
                    <td></td>
                </tr>
                </thead>
                <tr th:each="todo: ${todoList}">
                    <td th:text="${todo.taskName}"/>
                    <td th:text="${todo.description}"/>
                    <td th:text="${#temporals.format(todo.deadline, 'dd-MM-yyyy HH:mm:ss')}"/>
                    <td><input type="checkbox" th:checked="${todo.isFinished}" disabled></td>
                    <td>
                        <a th:text="USUŃ" th:href="@{/delete/{id}(id=${todo.id})}"/>
                        <a th:text="EDYTUJ" th:href="@{/edit/{id}(id=${todo.id})}"/>
                    </td>
                </tr>
            </table>
        </div>
        <div class="todo-filter">
            <h1>Filtruj zadania</h1>
            <form th:action="@{/filter}" method="post">
                <label for="isFinished">Zakończone:</label>
                <select class="form-select" name="isFinished" id="isFinished">
                    <option value="null" selected>Bez znaczenia</option>
                    <option value="false">Nie</option>
                    <option value="true">Tak</option>
                </select>
                <label for="deadlineBefore">Deadline przed:</label>
                <input type="datetime-local" id="deadlineBefore" name="deadlineBefore" placeholder="Podaj deadline">
                <label for="deadlineAfter">Deadline po:</label>
                <input type="datetime-local" id="deadlineAfter" name="deadlineAfter" placeholder="Podaj deadline">
                <div>
                    <button>Filtruj</button>
                </div>
            </form>
        </div>
    </div>
    <div class="todo-form">
        <h1>Dodaj zadanie</h1>
        <form th:action="@{/addTodo}" method="post">
            <label for="taskname">Nazwa zadania:</label>
            <input type="text" id="taskname" name="taskName" placeholder="Podaj nazwę zadania" required autofocus>
            <label for="description">Opis:</label>
            <input type="text" id="description" name="description" placeholder="Podaj opis zadania" required>
            <label for="deadline">Deadline:</label>
            <input type="datetime-local" id="deadline" name="deadline" placeholder="Podaj deadline">
            <div>
                <button>Dodaj zadanie</button>
            </div>
        </form>
    </div>
</div>
<footer>
    <a th:text="${requestCount}"/>
</footer>
</body>