<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Rejestracja</title>
    <meta charset="UTF-8">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{style.css}" rel="stylesheet" type="text/css">
    <style>
        .menu{
            clear: both;
            background-color: #343a40;
        }

        .menu a{
            color: white;
        }
    </style>
</head>
<body>
<div class="menu">
    <div class="d-flex justify-content-center">
        <a class="btn btn-outline-light" th:href="@{/index}">Powrót</a>
    </div>
</div>
<div class="content">
    <h1>Zarejestruj się</h1>
    <form th:action="@{/register}" method="post">
        <div class="mb-3">
            <label for="firstName" class="form-label">Imię:</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Podaj imię" required autofocus>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Nazwisko:</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Podaj nazwisko" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Podaj e-mail" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Hasło:</label>
            <input type="password" class="form-control" id="password" placeholder="Podaj hasło" name="password" minlength="8" required>
        </div>
        <div class="mb-3">
            <label for="passwordRepeated" class="form-label">Powtórz hasło:</label>
            <input type="password" class="form-control" id="passwordRepeated" placeholder="Powtórz hasło" name="passwordRepeated" minlength="8" required>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Zarejestruj</button>
        </div>
    </form>
</div>
</body>
</html>
